{% extends 'crud/base.html' %}
{% block conteudo %}

<body class="container">
  <div class="row">
    <table cellspacing="20" class="table">
      <thead class="thead-dark">
        <tr>
            <td class="topo"> <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                    class="bi bi-person" viewBox="0 0 16 16">
                    <path
                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                </svg>

                <h3>Painel de Clientes</h3>
            </td>
        </tr>
        <tr>
          <td>
            <h5>Novo usuário</h5>
            <p>Informe os campos a seguir para criar novo usuário:</p>
          </td>
          <td class="espaço"></td>
        </tr>
      </thead>
    </table>
    <table cellspacing="20" class="">
      <tbody>
        <tr>
          <td>
            <input class="form-control form-control-lg" type="text" placeholder="Nome">
          </td>
        </tr>
        <tr>
          <td>
            <input class="form-control form-control-lg" type="text" placeholder="E-mail">
          </td>
        </tr>
        <tr>
          <td>
            <input class="form-control form-control-lg" type="text" placeholder="CPF">
          </td>
        </tr>
        <tr>
          <td>
            <input class="form-control form-control-lg" type="text" placeholder="Telefone">
          </td>
        </tr>
        <tr>
          <td>
            <select class="form-control form-control-lg">
              <option selected>Status</option>
              <option>Ativo</option>
              <option>Inativo</option>
              <option>Aguardando Ativação</option>
              <option>Desativado</option>
            </select>
          </td>
        </tr>


        <tr>
          <td>
            <button class="btn btn-warning new" data-toggle-tooltip="tooltip" title="Incluir novo item">Criar</button>
            <a href="{% url 'telas:home' %}" class='btn mudando new1'>Voltar</a>
            <!-- <button class="btn mudando new1" data-toggle-tooltip="tooltip" title="Incluir novo item">Voltar</button> -->
          </td>
        </tr>
      </tbody>
    </table>



    {% endblock %}
