{% extends 'crud/base.html' %}
{% block conteudo %}

<body class="container">
  <div class="row">
    <table cellspacing="20" class="table">
      <thead class="thead-dark">
        <tr>
          <td>
            <h5>Novo usuário</h5>
            <p>Informe os campos a seguir para criar novo usuário:</p>
          </td>
          <td class="espaço"></td>
        </tr>
      </thead>
    </table>
    <table cellspacing="20" class="">
      <tbody>
        <tr>
          <td>
            <input class="form-control form-control-lg" type="text" placeholder="Nome">
          </td>
        </tr>
        <tr>
          <td>
            <input class="form-control form-control-lg" type="text" placeholder="E-mail">
          </td>
        </tr>
        <tr>
          <td>
            <input class="form-control form-control-lg" type="text" placeholder="CPF">
          </td>
        </tr>
        <tr>
          <td>
            <input class="form-control form-control-lg" type="text" placeholder="Telefone">
          </td>
        </tr>
        <tr>
          <td>
            <select class="form-control form-control-lg">
              <option selected>Status</option>
              <option>Ativo</option>
              <option>Inativo</option>
              <option>Aguardando Ativação</option>
              <option>Desativado</option>
            </select>
          </td>
        </tr>


        <tr>
          <td>
            <button class="btn btn-warning new" data-toggle-tooltip="tooltip" title="Incluir novo item">Criar</button>
            <button class="btn mudando new1" data-toggle-tooltip="tooltip" title="Incluir novo item">Voltar</button>
          </td>
        </tr>
      </tbody>
    </table>



    {% endblock %}