{% extends 'crud/base.html' %}
{% block conteudo%}

<body class="container">
    <div class="row">

        <table cellspacing="20" class="table">

            <tbody>
                {% for dados in user %}
                <tr class="row-container">
                    <td class="status-nome">{{dados.nome}}
                        <p>{{dados.email}}</p>
                    </td>
                    <td>{{dados.cpf}}
                        <p>{{dados.telefone}}</p>
                    </td>

                    <td class="status-position">
                        {% if dados.status %}
                        <div class="status"></div>
                        <span class="">Ativo</span>
                        {% else %}
                        <div class="status"></div>
                        <span class="">Inativo</span>
                        {% endif %}
                    </td>
                    <td class="status-position">
                        <div class="btn-group" role="group" aria-label="Ações disponíveis">
                            <button type="button" class="btn mudando"> EDITAR</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}


                <!-- <tr class="row-container">
                    <td>Nome 1
                        <p>email do usuario</p>
                    </td>
                    <td>CPF Aqui
                        <p>telefone</p>
                    </td>

                    <td>
                        <div class="status"></div>
                        <span class="">Ativo</span>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Ações disponíveis">
                            <button type="button" class="btn mudando"> EDITAR</button>
                        </div>
                    </td>
                </tr>
                <tr class="row-container">
                    <td>Nome 2
                        <p>email do usuario</p>
                    </td>
                    <td>CPF Aqui
                        <p>telefone</p>
                    </td>

                    <td>
                        <div class="status"></div><span class="">Ativo</span>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Ações disponíveis">
                            <button type="button" class="btn mudando"> EDITAR</button>
                        </div>
                </tr>
                <tr class="row-container">
                    <td>Nome 3
                        <p>email do usuario</p>
                    </td>
                    <td>CPF Aqui
                        <p>telefone</p>
                    </td>


                    <td>
                        <div class="status"></div><span class="">Ativo</span>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Ações disponíveis">
                            <button type="button" class="btn mudando"> EDITAR</button>
                        </div>
                    </td>
                </tr>
                <tr class="row-container">
                    <td>Nome 4
                        <p>email do usuario</p>
                    </td>
                    <td>CPF Aqui
                        <p>telefone</p>
                    </td>


                    <td>
                        <div class="status"></div><span class="">Ativo</span>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Ações disponíveis">
                            <button type="button" class="btn mudando"> EDITAR</button>
                        </div>
                    </td>
                </tr>
                <tr class="row-container">

                    <td>Nome 5
                        <p>email do usuario</p>
                    </td>
                    <td>CPF Aqui
                        <p>telefone</p>
                    </td>


                    <td>
                        <div class="status"></div><span class="">Ativo</span>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Ações disponíveis">
                            <button type="button" class="btn mudando"> EDITAR</button>
                        </div>
                    </td>
                </tr>
                <tr class="row-container">

                    <td>Nome 6
                        <p>email do usuario</p>
                    </td>
                    <td>CPF Aqui
                        <p>telefone</p>
                    </td>


                    <td>
                        <div class="status"></div><span class="">Ativo</span>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Ações disponíveis">
                            <button type="button" class="btn mudando "> EDITAR</button>
                        </div>
                    </td>
                </tr> -->

            </tbody>
        </table>

    </div>
</body>



{% endblock %}