{% extends 'crud/base.html' %}
{% block conteudo%}

<body class="container">
    <div class="row">
        <table cellspacing="20" class="table">
            <thead class="thead-dark">
                <tr>
                    <td>
                        <h5>Listagem de usuário</h5>
                        <p>Escolha um cliente para visualizar os detalhes</p>
                    </td>
                    <td class="espaço"></td>
                    <td>
                        <button class="btn btn-warning" data-toggle-tooltip="tooltip" title="Incluir novo item">Novo
                            Cliente</button>
                    </td>
                </tr>
            </thead>

        </table>
        <table cellspacing="20" class="table">

            <tbody>
                {% for dados in user %}
                <tr class="row-container">
                    <td class="status-nome">{{dados.nome}}
                        <p>{{dados.email}}</p>
                    </td>
                    <td>{{dados.cpf}}
                        <p>{{dados.telefone}}</p>
                    </td>

                    <td class="status-position">
                        {% if dados.status %}
                        <div class="status"></div>
                        <span class="">Ativo</span>
                        {% else %}
                        <div class="status"></div>
                        <span class="">Inativo</span>
                        {% endif %}
                    </td>
                    <td class="status-position">
                        <div class="btn-group" role="group" aria-label="Ações disponíveis">
                            <button type="button" class="btn mudando"> Editar</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>



{% endblock %}